<ion-header>
    <ion-navbar>
        <ion-title>İlgilendiğim Kategoriler</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-searchbar
            [cancelButtonText]="'İptal'"
            [showCancelButton]="true"
            (ionInput)="searchCategories($event)"
            (ionCancel)="cancelSearch()"></ion-searchbar>

    <div *ngIf="isSearching">
        <ion-list *ngIf="resultCategories.length">
            <button ion-item *ngFor="let category of resultCategories" (click)="addCategory(category)">
                <ion-icon [name]="category.icon" item-start></ion-icon>
                {{ category.name }}
            </button>
        </ion-list>

        <ion-card *ngIf="!resultCategories.length">
            <ion-card-content>
                Aranılan kriterlere uygun değer bulunamamıştır.
            </ion-card-content>
        </ion-card>
    </div>

    <div *ngIf="!isSearching">
        <ion-card *ngIf="!userCategories.length">
            <ion-card-content>
                Takip etmek istediğini aratarak, takip etmeye başlayabilmek için seçebilirsin.
            </ion-card-content>
        </ion-card>

        <ion-list *ngIf="userCategories.length">
            <ion-item-divider color="light">Takip Edilenler</ion-item-divider>
            <ion-item-sliding *ngFor="let category of userCategories">
                <ion-item>
                    <ion-icon [name]="category.icon" item-start></ion-icon>
                    {{ category.name }}
                </ion-item>
                <ion-item-options side="right">
                    <button ion-button color="red" (click)="deleteCategory(category)">
                        <ion-icon name="trash"></ion-icon>
                        Sil
                    </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
    </div>
</ion-content>
