<ion-header>
    <ion-toolbar>
        <ion-title>
            Etkinlik
        </ion-title>
        <ion-buttons start>
            <button ion-button (click)="dismiss()">
                <span ion-text color="primary" showWhen="ios">Kapat</span>
                <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        Başlık
        <ion-note item-end>
            {{ event.title }}
        </ion-note>
    </ion-item>
    <ion-item *ngIf="event.description">
        <ion-note item-end>
            {{ event.description }}
        </ion-note>
    </ion-item>
    <ion-item>
        Başlangıç Tarihi
        <ion-note item-end>
            {{ event.started_at ? event.started_at.date : '' }}
        </ion-note>
    </ion-item>
    <ion-item *ngIf="event.ended_at">
        Bitiş Tarihi
        <ion-note item-end>
            {{ event.ended_at.date }}
        </ion-note>
    </ion-item>
    <ion-item>
        Ücret
        <ion-note item-end>
            {{ event.price ? event.price + ' ' + event.price_type : 'Ücretsiz' }}
        </ion-note>
    </ion-item>
    <ion-item *ngIf="event.capacity">
        Kapasite
        <ion-note item-end>
            {{ event.capacity }}
        </ion-note>
    </ion-item>
    <ion-item *ngIf="event.age_limit">
        Yaş Sınırı
        <ion-note item-end>
            {{ event.age_limit }}
        </ion-note>
    </ion-item>
    <ion-item-divider color="light">Adres</ion-item-divider>
</ion-content>
