<ion-header>
    <ion-navbar>
        <ion-title>Keşfet</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-searchbar
            (ionInput)="searchEvents($event)"
            placeholder="Etkinlik ara..."
    ></ion-searchbar>

    <ion-card *ngFor="let event of resultEvents">
        <ion-card-content>
            <ion-card-title>{{ event.title }}</ion-card-title>
            <p>{{ event.description }}</p>
        </ion-card-content>

        <ion-row>
            <ion-col center text-center>
                <ion-note>{{ event.address.name }}</ion-note>
            </ion-col>
            <ion-col center text-center>
                <ion-note>{{ event.started_at.date }}</ion-note>
            </ion-col>
        </ion-row>
    </ion-card>

    <ion-card-content *ngIf="!resultEvents.length">
        Aranılan kriterlere uygun bir etkinlik bulunamadı.
    </ion-card-content>
</ion-content>
